
	<!-- Template for the initial login -->
	<!--<div id="signInDiv" class="wrapper" ng-controller="LoginController" ng-show="signInShow">-->
	<div id="addItemDiv" class="wrapper">
    <!--<form id="userProfileForm" class="form-signin">  -->
	  <form class="form-signin">
      <div class="form-group">
          <label for="inputProductName">Name</label>
          <input type="text" class="form-control" id="itemName" placeholder="product name" ng-model="itemName">  
          <label for="inputPrice">Price</label>
          <input type="text" class="form-control" id="itemPrice" placeholder="Price" ng-model="itemPrice">
          <label for="inputDescr">Description</label>
          <input type="text" class="form-control" id="itemDescr" placeholder="Description" ng-model="itemDescr">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="addItem()">Save</button>
    </form>
    <p class="text-danger" ng-show="addItemFailed">We were unable to add the item.  Please try again.</p>
    </form>