
	<!--<div id="signInDiv" class="wrapper" ng-controller="LoginController" ng-show="signInShow">-->
	<div id="userProfileDiv" class="wrapper">
    <form id="changePasswordForm" class="form-signin">
      <img src="../../images/logo.png" alt="barginText API's" />  
	    <h2 class="form-signin-heading">Change Password</h2>
      <input type="password" class="form-control" name="oldPassword" placeholder="Old Password" required="" ng-model="oldPassword" />
      <br>
	    <input type="password" class="form-control" name="password1" placeholder="Password" required="" ng-model="password1" />
	    <br>
	    <input type="password" class="form-control" name="password2" placeholder="Password" required="" ng-model="password2" />
	    <br>
	    <p>
	    	<button id="changePassword" class="btn btn-lg btn-primary btn-block" type="button" ng-click="changePassword()">Change Password</button>
	    </p>
      <p class="text-danger" ng-show="changePasswordFailed">Invalid username or password. Your password was not updated. Please try again.</p>
      <p class="text-danger" ng-show="sessionTimeout">Your session has timed out. Please login and try your request again.</p>
      <p class="text-danger" ng-show="passwordsDoNotMatch">The passwords do not match.</p>
      <p class="text-danger" ng-show="changePasswordSuccessful">Password updated successfully.</p>
    </form>
	</div>
