<!--
*
* Below is the main html page that defines the views for the Angular application.
-->

	<!-- main page template -->
  	 <!--<div id="mainDiv" class="container-fluid" class="patient" ng-controller="MainController">-->
  	 <div id="mainDiv" class="container-fluid" class="patient">
	 
	 <a id="profile" ng-href="#/profile">My Profile</a>
	 <a id="search" ng-href="#/search">Search</a>
	 <a id="additem" href="#/additem">Add Item</a>
	 <a id="signout" href="" ng-click="logout">Sign Out</a>

	 </div>
	 <!--<button id="myProfile" class="btn btn-primary pull-right" type="button" ng-click="myProfile()">My Profile</button>	
	 <button class="btn btn-lg btn-primary btn-block" id="refreshPatient" type="button" ng-click="getPatient()">Get/Refresh Person Info</button>
	 <button class="btn btn-lg btn-primary btn-block" id="refreshPatient" type="button" ng-click="getPatient()">Get/Refresh Person Info</button>-->
